.form-action {
  margin-top: 20px;
  border-top: 1px #e0e0e0 solid !important;
}

.form-action button {
  margin-top: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
